# API Specification

This is the API specification for the spec detailed in @.agent-os/specs/[FOLDER]/spec.md

> Created: [CURRENT_DATE]
> Version: 1.0.0

## Endpoints

[ENDPOINTS_CONTENT]

## Controllers

[CONTROLLERS_CONTENT]
